@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: #c8d6e5;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  min-height: 100vh;
}

.nav-bar {
  display: flex;
  background-color: #222f3e;
  padding: 10px 15px;
}

.nav-bar h2 {
  margin: 15px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c8d6e5;
  padding: 50px;
}

.form {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.form input {
  width: 700px;
  margin: 10px;
  padding: 15px 15px;
  font-size: 16px;
  border: 1px solid #8395a7;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #8395a7;
}

input:focus {
  outline: none;
}

.search-btn {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  border: none;
  top: 25px;
  left: 670px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 300px;
  margin-top: 25px;
  padding: 20px 50px;
  color: #000000;
  border-radius: 7px;
  border: 1px solid #8395a7;
  box-shadow: 0 0 7px 1px #8395a7;
}

.profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px #8395a7;
}

.profile h3 {
  text-align: center;
  margin: 17px;
}

.profile button {
  cursor: pointer;
  background-color: #222f3e;
  color: #ffffff;
  border: 1px solid #8395a7;
  border-radius: 7px;
  padding: 10px 25px;
  font-size: 16px;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.99);
}
