@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.nav-bar {
  position: fixed;
  background-color: #272f38;
  color: #ffffff;
  padding: 7px 30px;
  box-shadow: 0 0 5px 1px #5a6774;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.nav-bar h2 {
  position: absolute;
  display: inline;
  top: 16px;
  left: 80px;
}

.link {
  display: flex;
  float: right;
  padding: 12px;
  font-size: 18px;
  list-style-type: none;
}

.link li a {
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
}
.link li a:hover {
  color: #c8d6e5;
  border-bottom: 2px solid #c8d6e5;
}

.container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input,
.search-btn {
  padding: 12px 10px;
  margin: 0;
  font-size: 16px;
  border: 1px solid #272f38;
}

.search-btn {
  cursor: pointer;
  background-color: #222f3e;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form input[type='text'] {
  width: 600px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.clear-btn {
  cursor: pointer;
  width: 500px;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px 100px;
  color: #ffffff;
  background-color: #222f3e;
  border: 1px solid #8395a7;
  border-radius: 5px;
}

.profile {
  position: relative;
  height: 100px;
  width: 1000px;
  margin-top: 10px;
  padding: 10px 50px;
  border-radius: 7px;
  color: #000000;
  background-image: linear-gradient(90deg, #8395a7, #272f38);
  border: 1px solid #686868;
  box-shadow: 0 0 5px 1px #8395a7;
}

.profile img {
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #8395a7;
}

.profile h3 {
  display: inline;
  position: absolute;
  margin: 28px 7px;
  font-size: 18px;
}

.profile button {
  cursor: pointer;
  float: right;
  background-color: #8395a7;
  color: #000000;
  border: 1px solid #222f3e;
  border-radius: 7px;
  padding: 8px 25px;
  margin: 24px 0;
  font-size: 16px;
}

.user-profile {
  position: relative;
  max-width: 1100px;
  padding: 50px 25px;
  color: #000000;
  border: 1px solid #f0f2f5;
  box-shadow: 0 0 2px 1px #f4f5f7;
  border-radius: 5px;
}

.user-profile > strong {
  display: flex;
  margin: -10px 300px;
}

.back-btn {
  position: absolute;
  top: 30px;
  left: 65px;
  cursor: pointer;
  font-size: 16px;
  padding: 7px 15px;
  color: #000000;
  background-color: #8395a7;
  border: 1px solid #222f3e;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #8395a7;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  float: left;
  padding: 30px 35px;
  margin: 25px 20px;
  width: 400px;
  height: 550px;
  border: 1px solid #686868;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #8395a7;
}

.user-info img {
  width: 200px;
  border-radius: 50%;
  border: 1px solid #687786;
  box-shadow: 0 0 4px 1px #8395a7;
  margin-bottom: 15px;
}

.off-info button {
  cursor: pointer;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
  background-color: #8395a7;
  border: 1px solid #222f3e;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #8395a7;
}

.off-info ul {
  list-style-type: none;
  margin-top: 10px;
}

.off-info a:visited {
  color: #642a7a;
}

.off-info a {
  color: #59626b;
}

.off-info a:hover {
  color: #000000;
}

.off-info a:active {
  color: #015cc4;
}

.block {
  display: flex;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #8395a7;
  padding: 15px;
  margin-left: 20px;
  width: 1025px;
}

.followers {
  flex: 0.5;
  color: #215e29;
}

.followings {
  flex: 0.5;
  color: #0077ff;
}

.repo {
  flex: 0.5;
  color: #8c00ff;
}

.repo-container {
  width: 600px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  float: right;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #8395a7;
  border: 1px solid #686868;
}

.repos {
  padding: 20px 20px;
  margin: 15px 25px;
  width: 550px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #8395a7, #272f38);
  border: 1px solid #686868;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #8395a7;
}

.repos a {
  text-decoration: none;
  color: #000000;
}

.repos a:hover {
  color: #dce2e9;
}

input,
button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}

@media (max-width: 70%) {
  .nav-bar {
    width: 350px;
  }
}

@media (max-width: 650px) {
  .form input[type='text'] {
    width: 350px;
  }
}

@media (max-width: 700px) {
  .clear-btn {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .profile {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .profile {
    width: 400px;
    height: 80px;
    padding: 10px 10px;
  }

  .profile h3 {
    margin: 20px 10px;
  }

  .profile img {
    height: 60px;
  }

  .profile button {
    margin: 13px 5px;
    padding: 7px 10px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  .user-info {
    width: 350px;
  }

  .back-btn {
    margin-left: 80px;
  }

  .user-profile > strong {
    margin-right: 90px;
  }

  .repo-container {
    margin-top: 0;
    width: 400px;
  }

  .repos {
    width: 350px;
  }

  .block {
    width: 400px;
    margin: 20px 80px;
    font-size: 12px;
  }
}
